<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="UTF-8">        
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="Trino, trino.io, investors, Traders, Markets, cryptocurrency">
        <meta name="description" content="TRINO - unified crypto and fiat platform for traders and investors">         
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        {% block stylesheets %}
            <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css" />       
            <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/cryptofont/cryptocoins.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/cryptofont/cryptocoins-colors.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
        {% endblock %}

        {% block header_javascripts %}
        {% endblock %}

    </head>
    <body>
        
        <div class="page">
            
            <!-- Navbar + left bar -->
            {{ render(controller('AppBundle:Navbar:show')) }}

            <!-- Content -->
            {% block page_content %}
            {% endblock %}

            <!-- Bottom javascripts -->
            {% block javascripts %}
            {% endblock %}
        </div>

        <script src="{{ asset('bundles/app/js/general.js') }}" type="text/javascript"></script>
    </body>
</html>
