<div class="col_left">
    <section class="sidebar">                
        <ul class="nav nav_tabs" id="myTab" role="tablist">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Desktop">
                <a class="nav-link show"  href="{{ path('homepage') }}" role="tab" aria-controls="desk" aria-selected="true">
                    <img src="{{ asset('bundles/app/images/trino-14.png') }}" /> <span>Desktop</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Data">
                <a class="nav-link"  href="#" role="tab" aria-controls="trading" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-16.png') }}" /> <span>Data</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="My Strategies">
                <a class="nav-link"  href="{{ path('link_mystrategies') }}" role="tab" aria-controls="market" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-18.png') }}" /> <span>My Strategies</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Portfolios">
                <a class="nav-link"  href="#" role="tab" aria-controls="news" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-19.png') }}" /> <span>Portofolios</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Algos">
                <a class="nav-link"  href="#" role="tab" aria-controls="help" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-20.png') }}" /> <span>Algos</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="AI Forecasting">
                <a class="nav-link"  href="#" role="tab" aria-controls="chats" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-21.png') }}" /> <span>AI Forecasting</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Sentiment">
                <a class="nav-link"  href="#" role="tab" aria-controls="portofolio" aria-selected="true">
                    <img src="{{ asset('bundles/app/images/trino-22.png') }}" /> <span>Sentiment</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Logs">
                <a class="nav-link"  href="#" role="tab" aria-controls="trading" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-23.png') }}" /> <span>Logs</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="OTC">
                <a class="nav-link"  href="#" role="tab" aria-controls="fit" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-24.png') }}" /> <span>OTC</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Communication">
                <a class="nav-link"  href="{{ path('link_chat') }}" role="tab" aria-controls="market" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-25.png') }}" /> <span>Communication</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Competition">
                <a class="nav-link"  href="#" role="tab" aria-controls="news" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-26.png') }}" /> <span>Competition</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Support">
                <a class="nav-link"  href="#" role="tab" aria-controls="help" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-27.png') }}" /> <span>Support</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Settings">
                <a class="nav-link"  href="#" role="tab" aria-controls="chats" aria-selected="false">
                    <img src="{{ asset('bundles/app/images/trino-28.png') }}" /> <span>Settings</span>
                </a>
            </li>
        </ul>
        <div class="tab-content tab_cont" id="myTabContent">
            <div class="tab-pane fade show animated fadeIn active" id="desk" role="tabpanel" aria-labelledby="desk-tab">
                <div class="col_tab">
                    <div class="tab_header clearfix">
                        <div class="cls"><i class="fa fa-close close_tb"></i></div>
                        <img src="{{ asset('bundles/app/images/trino-1.png') }}" /> <span>BTC</span>
                        <div class="pull-right dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" id="cr"><img src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" /> </a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="cr">
                                <li><a href="">LTC</a></li>
                                <li><a href="">ETH</a></li>
                                <li><a href="">BTC</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav nav_cols" id="lf1" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="pair-tab" data-toggle="pill" href="#pair" role="tab" aria-controls="pair" aria-selected="true">Pair</a>
                        </li>
                        <li class="nav-item">
                            <a class="" id="volume-tab" data-toggle="pill" href="#volume" role="tab" aria-controls="volume" aria-selected="false">Volume</a>
                        </li>
                        <li class="nav-item">
                            <a class="" id="change-tab" data-toggle="pill" href="#change" role="tab" aria-controls="change" aria-selected="false">Change</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active tb" id="pair" role="tabpanel" aria-labelledby="pair-tab">
                            <div class="search"> <input type="text" placeholder="Search" /></div>
                            <ul class="currency_list">
                                <li class="clearfix active">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+2.09% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        ETH/BTC
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+1.96% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        EOS/BTC
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+1.96% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_dw">-8.75% <i class="fa fa-caret-down"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+2.09% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        ETH/BTC
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+1.96% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        EOS/BTC
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+1.96% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_dw">-8.75% <i class="fa fa-caret-down"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+2.09% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        ETH/BTC
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+1.96% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        EOS/BTC
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+1.96% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_dw">-8.75% <i class="fa fa-caret-down"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+2.09% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        ETH/BTC
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+1.96% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        EOS/BTC
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+1.96% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_dw">-8.75% <i class="fa fa-caret-down"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="pull-left">
                                        BTC/USD
                                        <span>Vol.4,023.29</span>
                                    </div>
                                    <div class="pull-right">
                                        0.00007137
                                        <span class="t_up">+2.09% <i class="fa fa-caret-up"></i></span>
                                    </div>
                                </li>
                                <li class="clearfix list_reload">
                                    <a href=""><img src="{{ asset('bundles/app/images/trino-4.png') }}" /></a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade text-center tb" id="volume" role="tabpanel" aria-labelledby="volume-tab">
                            Volume Content
                        </div>
                        <div class="tab-pane fade text-center tb" id="change" role="tabpanel" aria-labelledby="change-tab">
                            Change Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>