<div class="col_right">
    <div class="market">
        <div class="subtitle sp">
            Estimated Value
        </div>
        <div class="cont clearfix">
            <div class="bit pull-left"><img src="{{ asset('bundles/app/images/trino-8.png') }}" /> Bitcoin </div>
            <div class="bit pull-right">BTC/USD</div>
            <div class="clearfix"></div>
            <div class="text-center">
                <img src="{{ asset('bundles/app/images/graph_sm.jpg') }}" />
            </div>
            <div class="cm_cols_middle clearfix">
                <div class="pull-right text-right">
                    <span class="t_wh">1,3343.05968</span>
                    $8,092.00023
                </div>
            </div>
        </div>
        <div class="table-responsive col_spec">
            <ul class="nav nav_cols" id="lf2" role="tablist">
                <li class="nav-item">
                    <a class="active" id="at-tab" data-toggle="pill" href="#at" role="tab" aria-controls="at" aria-selected="true">All Transations</a>
                </li>
                <li class="nav-item">
                    <a class="" id="tt-tab" data-toggle="pill" href="#tt" role="tab" aria-controls="tt" aria-selected="false">Token Transactions</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active tb" id="at" role="tabpanel" aria-labelledby="at-tab">
                    <table class="def_table">
                        <tr>
                            <th>Balance</th>
                            <th>Available</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_up">Active</td>
                        </tr>
                        <tr>
                            <td class="qty">0.00007137</td>
                            <td class="qty">87,092.0009823</td>
                            <td class="t_dw">Blocked</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade show tb" id="tt" role="tabpanel" aria-labelledby="tt-tab">Token Transactions</div>
            </div>
        </div>
    </div>
</div>