{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
{% set user_image = false %}
{% if user.getProfilePicture() is not empty %}
    {% set user_image = 'images/profile/'~ user.getProfilePicture() %}
{% endif %}

<div class="header clearfix">
    <div class="logo"><a href="#"><img src="{{ asset('bundles/app/images/trino-15.png') }}" class="img-responsive"></a></div>
    <div class="header_right">
        <div class="hr_col_left">
            <ul>
                <li><a href="{{ path('homepage') }}">Markets</a></li>
                <li><a href="{{ path('link_strategies') }}">Strategies</a></li>
                <li><a href="{{ path('link_funds') }}">Funds</a></li>
            </ul>
        </div>
        <div class="hr_col_middle">
            <ul>
                <li>Value <span>$ 0,000</span></li>
                <li>P&L <span class="t_green">$ 0,000</span></li>
                <li>Balance <span>TIO 0,000</span></li>
            </ul>
        </div>
        <div class="hr_col_right">
            <div class="username">
                <div class="avatar"> {{ macro.avatar(user_image, user.username, 'user-image') }} </div> <span id="username"> {{user.getUsername()}} </span>
                <div class="trino2-copy-2 dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="us" role="button">
                        <img src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" />
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="us">
                        <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
                        <li><a href="">Buy Tokens</a></li>
                    </ul>
                </div>
            </div>
            <div class="hr_btns">
                <div class="data_time">
                    <div id="base-current-time"></div>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle btn" data-toggle="dropdown" id="lang" role="button">
                                EN <img src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" />
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="lang">
                                <li><a href="">EN</a></li>
                                <li><a href="">CH</a></li>
                                <li><a href="">JP</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="{{ path('avanzu_admin_logout') }}" class="btn">
                                Logout
                            </a>
                        </li>
                        <li class="menu_right_lk">
                            <a href="#" class="show_menu"><i class="fa fa-bars"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="menu_right">
                    <ul>
                        <li class="active"><a href=""><img src="{{ asset('bundles/app/images/trino-29-h.png') }}" /> Order Entry</a></li>
                        <li><a href=""><img src="{{ asset('bundles/app/images/trino-40.png') }}" /> Social</a></li>
                        <li><a href=""><img src="{{ asset('bundles/app/images/trino-41.png') }}" /> Ideas</a></li>
                        <li><a href="{{ path('link_news') }}"><img src="{{ asset('bundles/app/images/trino-42.png') }}" /> News</a></li>
                        <li><a href=""><img src="{{ asset('bundles/app/images/trino-43.png') }}" /> Market Summary</a></li>
                        <li><a href=""><img src="{{ asset('bundles/app/images/trino-44.png') }}" /> Economic Calendar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>