<div class="col_middle">
    <div class="cm_content_top">
        <div class="currency">
            <div><img src="{{ asset('bundles/app/images/trino-8.png') }}" /> BTC/USD</div>
            <div class="val">0.00007137</div>
            <div class="val_green">+2.09% <i class="fa fa-caret-up"></i></div>
            <ul>
                <li>High <span>0.00007195</span></li>
                <li>Low <span>0.000069687</span></li>
                <li>Volume <span>4,023.29 BTC</span></li>
            </ul>
        </div>
    </div>

    <!-- Graphic Mode-->
</div>