{% extends 'indexbase.html.twig' %}

{% block page_content %}

    <div class="content clearfix">
        <!-- Left bar -->
        {{ render(controller('AppBundle:Leftbar:show')) }}

        <!-- Show the content -->
        <div class="col_middle col_middle_max">
            <div class="col_mid_cont">
                <div class="back">
                    <a href="{{ path('link_mystrategies') }}"><i class="fa fa-angle-left"></i> Back to My Strategies</a>
                </div>
                <div class="col_middle_title">
                    <h1>
                        <img src="{{ asset('bundles/app/images/trino-18-h.png') }}"> Edit Strategy
                    </h1>
                </div>
                <div class="funds_cont col-md-5">
                    <form action="" method="" name="" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Strategy Name</label>
                                <input type="text" id="" name="" required="required" class="form-control txt" value="Strategy Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Date</label>
                                <input type="date" name="bdy" min="1000-01-01" max="3000-12-31" class="form-control txt txt_date"  />
                                <i class="fa fa-calendar cald" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Status</label>
                                <select class="form-control sel" id="">
                                    <option>Active</option>
                                    <option>Blocked</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Price</label>
                                <input type="text" id="" name="" required="required" class="form-control txt" value="2.304952" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Executions</label>
                                <input type="text" id="" name="" required="required" class="form-control txt" value="Lorem Ipsum" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Executions Level</label>
                                <input type="text" id="" name="" required="required" class="form-control txt" value="Lorem Ipsum" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="reset" class="btn btn-spec btns" value="">CANCEL</button>
                            <button type="submit" class="btn btn-primary btns" value="">EDIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}