{% extends 'indexbase.html.twig' %}

{% block header_javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="{{ asset('bundles/app/js/charting_library/charting_library.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/polyfills.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/bundle.js') }}"></script>
{% endblock %}

{% block page_content %}

    <div class="content clearfix">
        <!-- Left bar -->
        {{ render(controller('AppBundle:Leftbar:show')) }}

        <!-- Show the content -->
        <div class="col_middle col_middle_max">
            <div class="col_mid_cont">
                <div class="back">
                    <a href="{{ path('link_mystrategies') }}"><i class="fa fa-angle-left"></i> Back to My Strategies</a>
                </div>
                <div class="col_middle_title">
                    <h1>
                        <img src="{{ asset('bundles/app/images/trino-18-h.png') }}"> Add Strategy
                    </h1>
                </div>
                <div class="funds_cont col-md-5">
                    <form action="{{path("exec_addmystrategies")}}" method="POST" name="form" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Strategy Name *</label>
                                <input type="text" id="" name="strategy_name" required="required" class="form-control txt" placeholder="Strategy Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Date *</label>
                                <input type="date" name="strategy_start" min="1000-01-01" max="3000-12-31" class="form-control txt txt_date"  />
                                <i class="fa fa-calendar cald" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Status</label>
                                <select name="strategy_status" class="form-control sel" id="">
                                    <option>Active</option>
                                    <option>Disable</option>
                                    <option>Paper</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Price *</label>
                                <input type="number" id="" name="strategy_price" required="required" min="0" class="form-control txt" placeholder="0" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Executions *</label>
                                <input type="text" id="" name="strategy_executions" required="required" class="form-control txt" placeholder="Lorem Ipsum" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="req control-label required" for="">Executions Level *</label>
                                <input type="text" id="" name="strategy_executions_level" required="required" class="form-control txt" placeholder="Lorem Ipsum" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="{{ path("link_mystrategies") }}" class="btn btn-spec btns">CANCEL</a>
                            <input type="submit" class="btn btn-primary btns" value="Create" >
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}