{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('homepage'), 'attr': { 'class': 'fos_user_profile_edit'} }) }}
	<div class="box-body">
    	{{ form_widget(form) }}
    </div>
    <!-- End of box-body-->
    <div class="box-footer">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }} profile" name="submit" class="btn btn-success" />
        <a class="btn btn-danger pull-right" href="{{ path('homepage') }}">Cancel </a>
    </div>
    <!-- End of box-footer-->
{{ form_end(form) }}