{% extends "indexbase.html.twig" %}

{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}

{% block page_title %} Profile {% endblock %}
{% block page_subtitle %} {{ user.getName() }} {% endblock %}

{% block page_content %}

{% trans_default_domain 'FOSUserBundle' %}

    <div class="row">
            <div class="col-md-3">

              <!-- Profile Image -->
              <div class="box box-primary">
                <div class="box-body box-profile">
                  {% set profile_picture_path = false %}
                  {% if user.getProfilePicture() is not empty %}
                    {% set profile_picture_path = 'images/profile/'~ user.getProfilePicture() %}
                  {% endif %}

                  {{ macro.avatar(profile_picture_path, user.username, 'profile-user-img img-responsive img-circle') }}
                  <h3 class="profile-username text-center"> {{ user.getName() }}</h3>
                  <p class="text-muted text-center"><b>Last login </b>{{ user.getLastLogin(true) }}</p>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

            </div><!-- /.col -->


             <div class="col-md-9">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#activity" data-toggle="tab">Account Details</a></li>
                  <li><a href="#roles-and-permission" data-toggle="tab">Roles and Permissions</a></li>
                  <li><a href="#change-password" data-toggle="tab">Change Password</a></li>
                </ul>
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control active" placeholder="{{ user.getUsername() }}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control active" placeholder="{{ user.getName() }}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control active" placeholder="{{ user.getEmail() }}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputExperience" class="col-sm-2 control-label">Enabled</label>
                        <div class="col-sm-10">
                          {% if user.isEnabled() %}
                            <p class="text-success"><i class="fa fa-check"></i></p>
                          {% else %}
                              <p class="text-danger"><i class="fa fa-cross">Disabled</i></p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputSkills" class="col-sm-2 control-label">Start Date</label>
                        <div class="col-sm-10">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right active" placeholder="{{ user.getMemberSince()|date('Y-m-d') }}" readonly>
                          </div>
                        </div>
                      </div>
              
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-fw fa-edit"></i>Edit</a>
                        </div>
                      </div>

                    </div>
                  </div><!-- /.tab-pane -->

                  <div class="tab-pane" id="roles-and-permission">
                      {% if user.getRoles() is not empty %}
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th>Role</th>
                            <th>Enabled</th>
                          </tr>
                          {% for role in user.getRoles() %}
                            <tr>
                              <td>{{ role|upper }}</td>
                              <td><span class="badge bg-green">Enabled</span></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {% endif %}
                  </div>

                   <div class="tab-pane" id="change-password">
                      <p class="text-aqua">Please click the link below to change your current password</p>
                     <div><a href="{{ path('fos_user_change_password') }}" class="btn btn-default"><i class="fa fa-fw fa-lock"></i>Change Password</a></div>
                  </div>
              
                </div><!-- /.tab-content -->
              </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
          </div><!-- /.row -->
{% endblock %}
