/* Dragos styles */

.news-symbol {
    display: none;
}

.avatar {
    display: inline-block;
}
.avatar img {
    max-width: 40px;
    max-height: 40px;
}

#askContent {
    background-color: #202B5D;
    color: #FFF;
}

#askClose {
    color: #FFF;
}

.tablinks {
    background-color: #8FB5C3;
    border: 1px solid #8FB5C3;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.chat_msg {
    color: #FFF;
}

.market_bid {
    display: none;
}

#tv_chart_container {
    display: none;
    float: left;
    height: 1000px;
}

#askModal {
    z-index: 999999;
}

.market_currency_bar {
    display: none;
}

.market_tab {
    cursor: pointer;
}

#market_symbol img {
    display: none;
}

#send_message {
    background-color: #4A72B7;
    float: right;
}

.funds_bar {
    display: none;
}

.tabcontent {
    display: none;
}

.market_bar {
    display: none;
    float: left;
    width: 320px;
    border-left: 1px solid #0F1D35;
    background: #15203E;
}
.market_bar .subtitle {
    background: #19224B;
    border-top: 1px solid #0F1D35;
    border-bottom: 1px solid #0F1D35;
    padding: 10px 15px;
}

.market_bar .subtitle.sp {
    padding: 0px 15px;
    height: 55px;
    line-height: 55px;
}

.content_down {
    display: none;
}

.market_bid {
    /*display: none;*/
}

/* End Dragos Styles */

body {
    font-family: Roboto;
    font-size: 14px;
    /*    background: #15203E;*/
    background: #0F1D35;
    height: 100%;
}
html {
    height: 100%;
}
ul {
    padding: 0px;
    list-style: none;
}
a {
    color: #96c1ea;
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    color: #3bb3e4;
    text-decoration: none;
}
a, button:focus, button:active {
    outline: none!important;
    box-shadow: none!important;
}
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #96c1ea;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #96c1ea;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #96c1ea;
}
:-moz-placeholder { /* Firefox 18- */
    color: #96c1ea;
}
.ml_50 {
    margin-left: 50px;
}
.mt_0 {
    margin-top: 0px!important;
}
.mt_20 {
    margin-top: 20px!important;
}
.mr_20 {
    margin-right: 20px;
}
.mlr_10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mlr_15 {
    margin-left: 15px;
    margin-right: 15px;
}
.pt_0 {
    padding-top: 0px!important;
}
.p_15 {
    padding: 15px;
}
.plr_15 {
    padding-left: 15px;
    padding-right: 15px;
}
.mt_30 {
    margin-top: 30px;
}
.page {
    position: relative;
    min-height: 100%; 
}
.header {
    background: #202B5D;
    position: fixed;
    height: 83px;
    z-index: 999999;
    width: 100%;
}
.logo {
    width: 250px;
    float: left;
    border-right: 1px solid #0F1D35;
    padding: 23px 10px;
}
.logo_sm {
    width: 56px!important;
}
.header_right {
    float: right;
    width: calc(100% - 250px);
}
.hr_sm{
    width: calc(100% - 56px);
}
.header_right .hr_col_left, .header_right .hr_col_middle, .header_right .hr_col_right {
    float: left;
}
.header_right .hr_col_left {
    width: 25%;
}
.header_right .hr_col_middle {
    width: 30%;
}
.header_right .hr_col_right {
    width: 45%;
}
/*.header_right .hr_col_right {
    float: right;
}*/
.header_right .hr_col_left ul li {
    float: left;
    border-right: 1px solid #0F1D35;
    border-bottom: 2px solid transparent;
    width: 33.3%;
    text-align: center;
}
.header_right .hr_col_left ul li:hover, .header_right .hr_col_left ul li.active {
    background: #19224B;
    border-bottom: 2px solid #419BF9;
}
.header_right .hr_col_left ul li a {
    padding: 30px 0px;
    color: #8fb5e0;
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}
.header_right .hr_col_left ul li.active a, .header_right .hr_col_left ul li:hover a {
    color: #fff;
}
.hr_col_middle {
    /*    border-right: 1px solid #2C3C73;*/
    margin: 10px 0px;
}
.hr_col_middle ul li {
    font-size: 14px;
    font-weight: normal;
    color: #96c1ea;
    float: left;
    padding: 5px 5px;
    width: 33.3%;
    text-align: center;
}
.hr_col_middle ul li span {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    display: block;
}
.hr_col_middle ul li span.t_green {
    color: #42c697;
}
.hr_col_right {
    margin: 10px 0px;
}
.username {
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    border-left: 1px solid #2C3C73;
    border-right: 1px solid #2C3C73;
    float: left;
    padding: 12px 12px 10px 12px;
    width: 40%;
}
.trino2-copy-2 {
    float: right;
    cursor: pointer;
    display: inline-block;
}
.hr_btns {
    float: right;
    padding: 10px 0px 10px 20px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    width: 60%;
}
.data_time, .navbar-custom-menu {
    float: left;
}
.data_time span {
    color: #96c1ea;
    display: block;
}
.navbar-custom-menu {
    float: right;
}
.navbar-custom-menu li {
    position: relative;
    float: left;
    margin-right: 15px;
}
.navbar-custom-menu li:last-child {
    margin-right: 0px;
    margin-top: 5px;
}
.navbar-custom-menu li a {
    padding: 7px 15px;
    font-size: 15px;
    color: #96c1ea;
    border: 1px solid #2A3A71;
    border-radius: 5px;
}
.dropdown-menu {
    padding: 0px;
}
.navbar-custom-menu li .dropdown-menu {
    border-radius: 5px;
}
.navbar-custom-menu li .dropdown-menu a {
    border: 1px solid transparent;
    border-radius: 0px;
}
.navbar-custom-menu li:last-child a {
    border: 1px solid transparent;
}
.content {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    color: #96c1ea;
    padding-top: 83px;
}
.col_left {
    float: left;
    width: 180px;
    /*    width: 55px;*/
    background: #202B5D;
    height: 100%;
    min-height: 100%;
    position: fixed;
    left: 0px;
    top: 84px;
    z-index: 2;
}
.col_left_min {
    width: 55px!important;
}
.col_middle {
    float: left;
    width: calc(100% - 622px);

    /*    margin-left: 55px;*/
    /*    padding-left: 55px;*/
    padding-left: 180px;
    position: relative;
}
/*.col_middle_min {
    width: calc(100% - 597px);
}*/
.col_middle_max {
    width: 100%;
}
.col_middle_mm {
    width: calc(100% - 322px);
    padding-left: 275px;
}
.col_middle_min {
    width: calc(100% - 622px);
    padding-left: 275px;
}
.col_middle_full {
    width: 100%;
    padding-left: 55px;
}
.cm_sm {
    padding-left: 55px; 
}
.col_right {

    float: left;
    /*    background: #19224B;*/
    border-left: 1px solid #15203E;
}
.col_right_max {
    width: 620px;
}

.nav_tabs li {
    display: block;
    width: 100%;
}
.nav-link {
    padding: 15px;
    text-align: left;
}
.nav-link div.icons {
    display: inline-block;
    width: 28px;
}
.nav-link span {
    /*    display: none;*/
    display: inline-block;
    margin-left: 10px;
}
.col_left_min .nav-link span {
    display: none!important;
}
.nav-link.active, .nav-link:hover {
    background: #4B68AD;
    color: #fff;
}
/*.nav-link img {
    color: #FFF;
    filter: hue-rotate(25deg);
    -webkit-filter: hue-rotate(25deg);
       filter: #fff;
      -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);
}*/
.cm_content_top {
    margin: 20px;
}
.currency {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.currency div, .currency ul {
    display: inline-block;
    margin: 0px 10px;
}
.currency div:first-child {
    margin: 0px 10px 0px 0px;
}
.currency div.val {
    color: #92beea;
}
.currency .val_green {
    color: #3db991;
}
.currency ul li {
    color: #96c1ea;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin: 0px 13px;
}
.currency ul li span {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.tab_cont {
    width: 220px;
    height: 100%;
    background: #141E3A;
    position: absolute;
    top: 0px;
    left: 55px;
    border-right: 1px solid #0F1D35;
    display: none;
}
.tab_header {
    padding: 15px 20px;
}
.tab_header span {
    color: #fff;
    font-size: 12px;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    border: 1px solid #4577FC;
    background: #19224B;
    border-radius: 0px;
}
.dropdown-menu li {
    padding: 5px 15px;
    z-index: 2;
    border-bottom: 1px solid #0F1D35!important;
    font-size: 15px;
    margin: 0px;
    width: 100%;
}
.dropdown-menu li:last-child {
    border-bottom: 1px solid transparent;
}
.dropdown-menu li a {
    padding: 0px;
}
.dropdown-menu li a:hover {
    color: #fff;
}
.nav_cols {
    background: #19224B;
    border: 1px solid #0F1D35;
    border-right: 1px solid transparent;
}
#lf1 li, #rg1 li  {
    width: 33.3%;
    text-align: center;
    border-right: 1px solid #0F1D35;
}
#lf2 li  {
    width: 50%;
    text-align: center;
    border-right: 1px solid #0F1D35;
}
#nn1 {
    padding-left: 15px;
}
#nn1 li {
    margin-right: 10px;
}
.nav_cols li a {
    background: #19224B;
    color: #8fb5e0;
    font-size: 13px;
    padding: 10px;
    display: block;
}
.nav_cols li a.active, .nav_cols li a:hover {
    background: #15203E;
    border-bottom: 2px solid #419BF9;
    color: #fff;
}
.search {
    padding: 5px 15px;
}
.search input {
    background: url(../images/trino-3.png) no-repeat;
    background-position: 0px 3px;
    border: none;
    color: #96c1ea;
    padding-left: 17px;
}
.currency_list li {
    border-bottom: 2px solid #0F1D35;
    padding: 5px 15px;
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 13px;
    color: #96c1ea;
}
.currency_list li:hover {
    background-color: #202B5D;
    cursor: pointer;
}
.currency_list li.active {
    background: #202B5D;
    color: #fff;
}
.currency_list li div span {
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.currency_list li.list_reload {
    border-bottom: none;
    text-align: center;
}
.cr_info {
    float: left;
    width: 297px;
    border-right: 2px solid #419BF9;
    background: #19224B;
}
.market {
    float: left;
    width: 320px;
    border-left: 1px solid #0F1D35;
    background: #15203E;
}
.t_up {
    color: #3db991!important; 
}
.t_dw {
    color: #ed3256!important;  
}
.dec {
    padding: 10px 15px;
    border-bottom: 1px solid #0F1D35;
    color: #8fb5e0;
    font-size: 13px;
}
.def_table {
    width: calc(100% - 20px);
    margin: 5px 10px;
}
.def_table tr th {
    color: #8fb5e0;
    font-size: 11px;
    padding: 2px 5px;
}
.def_table tr td {
    /*    color: #8fb5e0;*/
    font-size: 13px;
    padding: 2px 5px;
    cursor: pointer;
}
/*.def_table tr td:first-child, .def_table tr th:first-child {
    padding-left: 15px;
}
.def_table tr td:last-child, .def_table tr th:last-child {
    padding-right: 15px;
}*/
.def_table tr td.qty {
    color: #fff;
}
.def_table tr.tr_up:hover td {
    background: #3db991;
    color: #fff;
}
.def_table tr.tr_dw:hover td {
    background: #ed3256;
    color: #fff;
}
.def_table tr.tot:hover td {
    background: none;
}
.def_table tr.tr_up:hover td.t_dw, .def_table tr.tr_up:hover td.t_up, .def_table tr.tr_dw:hover td.t_dw, .def_table tr.tr_dw:hover td.t_up {
    color: #fff!important;
}
.def_table tr.tot td div {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #2A3A71;
    border-bottom: 1px solid #2A3A71;
    padding: 15px;
    margin: 10px 0px;
    color: #fff;
}
.def_table tr.tot td span {
    color: #8fb5e0;
}

.cr_subtitle {
    border-top: 1px solid #0F1D35;
    border-bottom: 1px solid #0F1D35;
    margin: 10px 0px;
    padding: 10px 15px;
    font-size: 13px;
}
.market .subtitle {
    background: #19224B;
    border-top: 1px solid #0F1D35;
    border-bottom: 1px solid #0F1D35;
    padding: 10px 15px;
    /*    font-weight: bold;*/
    /*    text-transform: uppercase;*/
}

.market .subtitle.sp {
    padding: 0px 15px;
    height: 55px;
    line-height: 55px;
}

.cont {
    margin: 10px 15px;
}
.cont div {
    font-size: 13px;
}
.cont div.bit {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.cont div span {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    display: block;
}
.sell, .buy {
    margin: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 92px;
    height: 92px;
    cursor: pointer;
}
.sell {
    background: url(../images/trino-11.png) no-repeat;
    background-position: top center;
    display: block;
}

.buy {
    background: url(../images/trino-12.png) no-repeat;
    background-position: top center;
    display: block;
}
.items {
    padding: 15px 15px;
}
.choose_elem {
    margin: 10px 0px;
}
.choose_elem .dropdown.pull-left {
    width: 80%;
    border-bottom: 1px solid #2A3A71;
    padding-bottom: 10px;
    font-size: 16px;
}
.choose_elem .dropdown-menu {
    width: 100%;
    margin-top: 14px;
}
.choose_elem .numeric {
    border-bottom: 1px solid #2A3A71;
    padding-bottom: 10px;
    font-size: 16px;
}
.num_val {
    width: 70%;
}
.numeric_val {
    border-bottom: 1px solid #2A3A71;
    padding-bottom: 10px;
    font-size: 20px;
}
.choose_elem .dropdown img, .choose_elem .numeric img {
    float: right;
    margin-top: 10px;
}
.content_dw {
    padding-left: 55px;
}
.content_dw_min {
    padding-left: 275px;
}
.funds_cont {
    margin: 10px 15px;
}
.table_orders, .table_gen {
    width: 100%;
}
.table_orders tr th, .table_gen tr th {
    color: #96c1ea;
    font-size: 14px;
    padding: 2px 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #13243E;
}
.table_orders tr td, .table_gen tr td {
    color: rgba(150, 193, 234, 0.85);
    font-size: 14px;
    padding: 2px 5px;
    cursor: pointer;
    border-bottom: 1px solid #13243E;
}
.table_orders tr:hover td {
    background: #19224B;
    color: #fff;
}
.table_gen tr:hover td {
    background: #19224B;
}
.table_gen tr td {
    padding: 10px 5px;
}
.table_gen tr td img {
    max-width: 25px;
    margin: 3px 5px;
}
.table_gen tr.odd  td {
    background: #101F3A;
}

.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 10px 15px;
}
/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: none;
    border: 1px solid #283A62;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
    border: 1px solid #283A62;
}
/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    border: 1px solid #283A62;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.check .checkmark:after {
    /*  left: 7px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid #4577FC;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);*/
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4577FC;
}
.pl_0 {
    padding-left: 0px;
    margin: 10px 10px;
}

.cols_markets {
    float: left;
    width: calc(25% - 20px);
    /*    border: 1px solid #3052AA;*/
    background: #15203E;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.cm_cols_up {
    border-bottom: 1px solid #162748;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.cm_cols_up .pull-left {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    margin-top: 10px;
}
.cm_cols_up .pull-right {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.cm_cols_up .pull-right span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #96c1ea;
}

.cm_cols_middle {
    margin-bottom: 20px;
}
.cm_cols_middle .pull-left {
    color: #96c1ea;
    font-size: 13px;
    font-weight: normal;
}
.cm_cols_middle .pull-right {
    color: #96c1ea;
    font-size: 13px;
    font-weight: normal;
}
.cm_cols_middle .pull-left span, .cm_cols_middle .pull-right span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #8fb5e0;
}

.cf_cols_up {
    border-bottom: 1px solid #162748;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.cf_cols_up .pull-left {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}
.cf_cols_up .pull-left img {
    height: 25px;
}
.cf_cols_up .pull-right {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}
.cf_cols_middle {
    margin-bottom: 10px;
}
.cf_cols_middle span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.col_spec {
    background: #19224B;   
}
.cm_content_top_markets {
    background: #19224B;
    width: 100%;
    float: left;
    border-top: 1px solid #0F1D35;
    height: 55px;
    line-height: 54px;
    /*    border-bottom: 1px solid #0F1D35;*/
}
.cm_content_top_markets ul li {
    float: left;
    text-align: center;
    border-bottom: 1px solid transparent;
}
.cm_content_top_markets ul li:hover, .cm_content_top_markets ul li.active {
    border-bottom: 1px solid #419BF9;
}
.cm_content_top_markets ul li a {
    padding: 0px 20px;
    color: #8fb5e0;
    font-size: 13px;
    display: block;
}
.cm_content_top_markets ul li.active a {
    color: #fff;
}
.cm_content_top_markets ul li.dropdown {
    text-align: left;
    border-right: 1px solid #0F1D35;
}
.cm_content_top_markets ul li.dropdown:hover, .cm_content_top_markets ul li.dropdown.active {
    border-bottom: 1px solid transparent;
}
.cm_content_top_markets ul li.dropdown.crypto {
    width: 195px;
}
.cm_content_top_markets ul li.dropdown.source {
    width: 140px;
}
.cm_content_top_markets ul li.dropdown .arr {
    float: right;
    margin-top: 22px;
}
.cm_content_top_markets ul li.dropdown .dropdown-menu a {
    line-height: 20px;
    text-align: left;
}
.search_b {
    padding: 10px 15px;
    float: left;
    width: calc(100% - 500px);
}
.search_b input {
    background: url(../images/trino-32.png) no-repeat;
    background-position: 0px 3px;
    border: none;
    color: #96c1ea;
    padding-left: 25px;
    font-size: 19px;
}
.grid-list {
    float: right;
    margin: 15px 15px 0px 0px;
}
.grid-list a i {
    color: #4469AA;
    font-size: 20px;
}
.grid-list a.active i {
    color: #fff;
}
.cls {
    top: 0px;
    right: 2px;
    position: absolute;
    cursor: pointer;
    color: #fff;
}
.t_wh {
    color: #fff!important;
    font-size: 15px;
}
.t_bl {
    color: #96c1ea;
}

.cols_funds {
    float: left;
    width: calc(16.66% - 20px);
    /*    border: 1px solid #3052AA;*/
    background: #15203E;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.c_up {
    border: 1px solid #233963;
    height: 20px;
    width: 20px;
    background: none;
    border-radius: 50%;
    position: relative;
    margin-top: 4px;
}
.c_up:after {
    content: "";
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3db991;
    position: absolute;
}
.c_dw {
    border: 1px solid #233963;
    height: 20px;
    width: 20px;
    background: none;
    border-radius: 50%;
    position: relative;
    margin-top: 4px;
}
.c_dw:after {
    content: "";
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ed3256;
    position: absolute;
}
.market_up {
    background: #12213F;
    padding: 5px 15px;
    color: #fff;
}
.market_up .search {
    float: left;
    padding: 0px 15px;
}
.cont div.bit {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.col_middle_title {
    margin: 30px 0px;
}
.col_middle_title h1 {
    color: #fff;
    font-size: 20px;
    margin: 0px;
}
.col_middle_title h1 a {
    font-size: 14px;
}
.btn_spec {
    background: none;
    color: #8EB8E0;
    border: 1px solid #304C83;
    padding: 2px 15px;
}

.pagination {
    float: right;
    margin: 20px 0px;
}
.pagination li {
    float: left;
    margin: 0px 5px;
}
.pagination li a {
    color: #96c1ea;
    padding: 5px 10px;
    font-size: 15px;
}
.pagination li a:hover {
    color: #fff;
}
.pagination li.active a {
    color: #fff;
    background: #337DFF;
    border-radius: 50%;
}
.col_mid_cont {
    padding: 30px 15px;
}
.back i {
    margin-right: 5px;
}

.txt, .txt:focus {
    background: #1B2D5E;
    border: 1px solid #1B2D5E;
    color: #96c1ea;
    outline: none;
}

/*.txt_date {
    padding-right: 20px;
}*/
.cald {
    position: absolute;
    right: 20px;
    top: 40px;
}


.btn-spec {
    color: #96c1ea;
    border: 1px solid #2A3A71;
    background: none;
}
.btns {
    padding: 2px 15px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
}

.sel, .sel:focus {
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #1B2D5E;
    color: #96c1ea;
    background: url(../images/trino-2-copy-2.png) 96% / 5% no-repeat #1B2D5E;
}

/* CAUTION: IE hackery ahead */
.sel::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

.col_middle_full_title {
    background:  #12213F;
}
.col_middle_full_title h1 {
    padding: 30px 15px;
    color: #fff;
    font-size: 20px;
    margin: 0px;
}

.tp_up {
    margin: 10px 0px;
    font-size: 13px;
}

.cols_news {
    float: left;
    width: calc(33.3% - 20px);
    /*    border: 1px solid #3052AA;*/
    background: #15203E;
    border-radius: 20px;
    padding: 15px 0px 0px 0px;
    margin: 10px;
}
.cols_news1 {
    float: left;
    width: calc(50% - 20px);
    /*    border: 1px solid #3052AA;*/
    background: #15203E;
    border-radius: 20px;
    padding: 15px 0px 0px 0px;
    margin: 10px;
}

.cols_news2 {
    float: left;
    width: calc(50% - 20px);
    /*    border: 1px solid #3052AA;*/
    /*    background: #15203E;
        border-radius: 20px;*/
    padding: 15px 0px 0px 0px;
    margin: 10px;
}
.cn_img {
    margin: 50px 0px;
}
.cn_user {
    border-top: 1px solid #162748;
    border-bottom: 1px solid #162748;
    padding: 10px 15px;
}
.cn_user_info {
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.cn_user_info span, .cn_user span {
    display: block;
    font-size: 12px;
    color: #96c1ea;
    font-weight: normal;
}
.cn_descr {
    padding: 10px 15px;
}
.cn_descr h3 {
    color: #fff;
    font-size: 18px;
}
.cn_dw {
    background: #15244C;
    border-radius: 0px 0px 20px 20px;
    padding: 5px 15px;
}
.social {
    margin-bottom: 0px;
}
.social li {
    float: left;
    width: 33.3%;
    text-align: center;
}
.social a, .read_more {
    color: #3E8DFF;
    font-size: 13px;
    font-weight: bold;
}
.social a:hover, .read_more:hover {
    color: #fff;
}
.cn_user label {
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    padding: 0px 5px;
    margin-bottom: 2px;
}
.b_gr {
    background: #42C697;
}
.b_rd {
    background: #ED3256;
}
.cn_title {
    color: #42C697;
    text-transform: uppercase;
    padding: 10px 15px;
}

.cn_title span {
    float: right;
    font-size: 12px;
    color: #96c1ea;
    text-transform: none;
}

.col_left_news {
    background: #15244C;
    width: 220px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    padding: 15px 0px;
}
.col_left_news_title h1 {
    padding: 15px 15px;
    color: #fff;
    font-size: 20px;
    margin: 0px;
}
.col_right_news {
    float: left;
    width: 100%;
    padding-left: 220px;
}
.nav_cols_left {
    background: none;
    border: none;
}
.nav_cols_left li {
    display: block;
    width: 100%;
}
.nav_cols_left li a:hover, .nav_cols_left li a.active {
    background: #4A72B7;
    border-bottom: none;
}
.border_b {
    border-bottom: 1px solid #13243F;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.comm {
    background: #132245;
    border-radius: 10px;
    padding: 15px;
}

.comm textarea {
    width: 100%;
    height: 50px;
    border: none;
    background: none;
}

.comm .btns {
    background: none;
    border: none;
}

.menu_right {
    background: #1B2D5E;
    width: 220px;
    height: calc(100% - 83px);
    max-height: 100%;
    position: fixed;
    padding: 0px 0px;
    right: 0px;
    top: 83px;
    display: none;
}
.menu_right ul li {
    padding: 10px 10px;
    margin-bottom: 5px;
}
.menu_right ul li.active, .menu_right ul li:hover {
    background: #456BAE;
}

.menu_right ul li a {
    display: block;
}
.menu_right ul li.active a, .menu_right ul li:hover a {
    color: #fff;
}
.show_menu i {
    font-size: 20px;
    width: 20px;
}




.cm_content_top_markets ul li.crypto {
    text-align: left;
    border-right: 1px solid #0F1D35;
    width: 195px;
    position: relative;
}

.cm_content_top_markets ul li.crypto .arr {
    float: right;
    margin-top: 22px;
}

.col_tab {
    width: 195px;
    height: 100%;
    background: #141E3A;
    position: absolute;
    top: 0px;
    left: 55px;
    border-right: 1px solid #0F1D35;
    z-index: 999;
    display: none;
}
.hid {
    display: none;
}


.date {
    text-align: center;
    margin: 20px;
    font-size: 13px;
}
.mb_20 {
    margin-bottom: 20px;
}

.sender {
    border-radius: 0px 20px 20px 20px;
    background: #132245;
    color: #96c1ea;
    float: left;
    max-width: 350px;
    padding: 10px;
    margin-top: 20px;
}

.recived {
    border-radius: 20px 0px 20px 20px;
    background: #3981E9;
    color: #fff;
    float: right;
    max-width: 350px;
    padding: 10px;
    margin-top: 20px;
}

.forum_msg {
    overflow: auto;
    position: relative;
    margin: 10px;
    max-width: 100%;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mCSB_inside > .mCSB_container {
    margin-right: 10px;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #304C83;
}

.grid_tr {
    width: calc(16.66% - 20px); 
    float: left; 
    border: 1px solid rgb(48, 82, 170); 
    background: rgb(21, 32, 62) none repeat scroll 0% 0%; 
    border-radius: 20px; 
    padding: 10px;
    margin: 10px;
}

.grid_tr td {
    padding: 0px!important;
    border-bottom: none!important;
}
.grid_tr:hover td {
    background: none!important;
}

.grid_tr td.first {
    float: left;
    width: 80%;
    color: #fff!important;
    font-size: 19px!important;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.grid_tr td.last {
    float: right;
    width: 20%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.spec_td, .spec_td:hover, .grid_tr:hover .spec_td  {
    display: block;
    width: 100%;
    background: #162748!important;
    margin-bottom: 10px;
    height: 1px;
    float: left;
}
.grid_tr td.third {
    display: block;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.grid_tr td.fourth {
    display: block;
    color: #fff!important;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.grid_tr td.fifth {
    display: block;
    color: #fff!important;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.grid_tr td.sixth {
    display: block;
    color: #fff!important;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.title_td {
    color: #96c1ea;
}

.grid_market_tr {
    width: calc(25% - 20px); 
    float: left; 
    /*    border: 1px solid rgb(48, 82, 170); */
    background: rgb(21, 32, 62) none repeat scroll 0% 0%; 
    border-radius: 20px; 
    padding: 10px;
    margin: 10px;
}

.grid_market_tr td {
    padding: 0px!important;
    border-bottom: none!important;
}
.grid_market_tr:hover td {
    background: none!important;
}

.grid_market_tr td.first_m {
    float: left;
    width: 50%;
    color: #fff!important;
    font-size: 21px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.grid_market_tr td.first_m img {
    max-width: 35px;
}
.grid_market_tr td.last_m {
    float: right;
    width: 50%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.grid_market_tr td.last_m span {
    font-size: 20px;
    font-weight: 500;
    color: #96c1ea;
    display: block;
}
.grid_market_tr td.third_m {
    float: left;
    width: 50%;
    color: #96c1ea;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.grid_market_tr td.fourth_m {
    float: right;
    width: 50%;
    text-align: right;
    color: #96c1ea;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.grid_market_tr td.third_m .title_td, .grid_market_tr td.fourth_m .title_td {
    font-size: 13px!important;
    font-weight: normal;
    color: #8fb5e0;
}



/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .sel {
        background:none\9;
        padding: 5px\9;
    }
}



@media (max-width:1850px) {
    /*    .header_right .hr_col_left ul li, .hr_col_middle ul li {
            width: 120px;
        }*/
    /*    .trino2-copy-2 {
            margin-left: 40px;
        }*/
}

@media (max-width:1700px) {
    /*    .header_right .hr_col_left ul li, .hr_col_middle ul li {
            width: 105px;
        }*/
    /*    .trino2-copy-2 {
            margin-left: 30px;
        }*/
}
@media (max-width:1550px) {
    .username {
        font-size: 17px;
    }
    .navbar-custom-menu li {
        margin-right: 10px;
    }
    /*    .navbar-custom-menu {
            margin-left: 30px;
        }*/
    .logo {
        width: 170px;
    }
    .header_right {
        width: calc(100% - 170px);
    }
    .cols_markets {
        margin: 5px;
        width: calc(25% - 10px);
    }
    .cm_cols_up .pull-left, .cm_cols_up .pull-right {
        font-size: 19px;
    }
    .hr_col_middle ul li span {
        font-size: 17px;
    }
    /*    .page {
            display: none;
        }*/
}
@media (max-width:1420px) {
    .hr_col_middle ul li {
        width: 95px;
    }
    .hr_col_middle ul li span {
        font-size: 18px;
    }
}
@media (max-width:1200px) {
    .page {
        display: none;
    }
}