/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.01.2019, 13:27:37
    Author     : dragos
*/

body {
    background-color: #202b5d;
}

p {
    color: #FFF;
}

.login-box-body {
    background-color: #19224b;    
}

.login-box-body .checkbox {
    color: #FFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1; /* Firefox */
}