<div class="col_middle col_middle_max">
    <div class="col_mid_cont">
        <div class="col_middle_title">
            <h1>
                <img src="{{ asset('bundles/app/images/trino-18-h.png') }}"> My Strategies
                <a href="{{ path('link_addmystrategies') }}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> ADD STRATEGY</a>
            </h1>
        </div>
        <div class="funds_cont">
            <div class="table-responsive">
                <table id="myStrategyTable" class="table_gen">
                    
                    <tr>
                        <th>Strategy</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Subscribers</th>
                        <th>Executed</th>
                        <th>Outstanding</th>
                        <th>Offered</th>
                        <th>Available</th>
                        <th>Last Price</th>
                        <th></th>
                    </tr>

                    {% for strategy in strategies %}
                        <tr>
                            <td>{{ strategy.name|e }}</td>
                            <td>{{ strategy.createdAt|date('Y-m-d') }}</td>
                            {% if strategy.status == 1 %}
                                <td class="t_up">Active</td>
                            {% elseif strategy.status == 2 %}
                                <td class="t_dw">Disable</td>
                            {% elseif strategy.status == 3 %}
                                <td class="t_wh">Paper</td>
                            {% endif %}
                            <td>{{ strategy.subscribers|e }}</td>
                            <td>{{ strategy.executed|e }}</td>
                            <td>{{ strategy.outstanding|e }}</td>
                            <td>{{ strategy.offered|e }}</td>
                            <td>{{ strategy.available|e }}</td>
                            <td>{{ strategy.lastPrice|e }}</td>
                            <td>
                                <a href="" class="btn btn_spec"><i class="fa fa-pencil"></i> Edit</a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
{#                <ul class="pagination">
                    <li><a href="">Prev</a></li>
                    <li><a href="">1</a></li>
                    <li class="active"><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li>...</li>
                    <li><a href="">8</a></li>
                    <li><a href="">Next</a></li>
                </ul>#}
            </div>
        </div>
    </div>
</div>