
<div class="col_middle">
    <div class="col_left_news">
        <div class="col_left_news_title">
            <h1 class="clearfix">
                <img src="{{ asset('bundles/app/images/trino-17-h.png') }}"> News
            </h1>
        </div>
        <ul class="nav nav_cols nav_cols_left" id="nn2" role="tablist">
            <li class="nav-item">
                <a class="active" id="al-tab" data-toggle="pill" href="#al" role="tab" aria-controls="al" aria-selected="true">All</a>
            </li>
            
{#            <li class="nav-item">
                <a class="" id="s1-tab" data-toggle="pill" href="#s1" role="tab" aria-controls="s1" aria-selected="false">Section 1</a>
            </li>
            <li class="nav-item">
                <a class="" id="s2-tab" data-toggle="pill" href="#s2" role="tab" aria-controls="s2" aria-selected="false">Section 2</a>
            </li>
            <li class="nav-item">
                <a class="" id="s3-tab" data-toggle="pill" href="#s3" role="tab" aria-controls="s3" aria-selected="false">Section 3</a>
            </li>#}
        </ul>
    </div>
    <div class="col_right_news clearfix">
        <div class="col_middle_full_title">
            <h1 class="clearfix">
                <div class="search_b pt_0"> <input type="text" placeholder="Search"></div>
            </h1>
        </div>
        <div>
            <div class="tab-content mlr_15">
                <div class="tab-pane fade show active tb" id="al" role="tabpanel" aria-labelledby="al-tab">
                    <div class="tp_up clearfix">
                        <div class="pull-left">Latest</div>
                        <div class="pull-right">1 out of 12</div>
                    </div>
                    {% for news in News %}
                        <div class="cols_news1">
                            <div class="cn_title">
                                {% for tag in news.tags %} <i class="cc {{ tag.name }}"></i> <div class="news-symbol">{{ tag.name }}</div> {% endfor %} <span> {{ news.createdAt|date("d-m-Y h:i:s") }} </span>
                            </div>
                            <div class="cn_descr">
                                <h3>{{ news.title|slice(0, 50) ~ '...' }}</h3>
                                <p>{{ news.shortDescription }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade show tb" id="s1" role="tabpanel" aria-labelledby="s1-tab">sast</div>
                <div class="tab-pane fade show tb" id="s2" role="tabpanel" aria-labelledby="s2-tab">sast</div>
                <div class="tab-pane fade show tb" id="s3" role="tabpanel" aria-labelledby="s3-tab">sast</div>
            </div>
        </div>
    </div>
</div>