{% extends 'indexbase.html.twig' %}

{% block header_javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="{{ asset('bundles/app/js/charting_library/charting_library.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/polyfills.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/bundle.js') }}"></script>
{% endblock %}

{% block page_content %}

    <div class="content clearfix">
        <!-- Left bar -->
        {{ render(controller('AppBundle:Leftbar:show')) }}

        <!-- Show the content -->
        <div class="col_middle">
            <div class="col_left_news">
                <div class="col_left_news_title">
                    <h1 class="clearfix">
                        <img src="{{ asset('bundles/app/images/trino-25-h.png') }}"> Communication
                    </h1>
                </div>
                <ul class="nav nav_cols nav_cols_left" id="nn2" role="tablist">
                    <li class="nav-item">
                        <a class="active" id="ai-tab" data-toggle="pill" href="#ai" role="tab" aria-controls="ai" aria-selected="true">All</a>
                    </li>
                </ul>
            </div>
            <div class="col_right_news clearfix">
                <div class="col_middle_full_title">
                    <h1 class="clearfix">
                        All
                    </h1>
                </div>
                <div>
                    <div class="tab-content mlr_15">
                        <div class="tab-pane fade show active tb" id="ai" role="tabpanel" aria-labelledby="ai-tab">
                            <div class="cols_news2">
                                <div class="forum">
                                    <div class="forum_msg clearfix mb_20">
                                        <section id="chatroom">
                                            <section id="feedback"></section>
                                        </section>
                                    </div>
                                    <div class="comm clearfix">
                                        <section id="input_zone"> 
                                            <textarea id="message" class="chat_msg vertical-align" placeholder="Type your message"></textarea>
                                            <button id="send_message" class="btn btn-primary btns" type="button">Send</button>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show tb" id="t1" role="tabpanel" aria-labelledby="t1-tab">sast</div>
                        <div class="tab-pane fade show tb" id="t2" role="tabpanel" aria-labelledby="t2-tab">sast</div>
                        <div class="tab-pane fade show tb" id="t3" role="tabpanel" aria-labelledby="t3-tab">sast</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/chat.js') }}" type="text/javascript"></script>
{% endblock %}