{% extends 'indexbase.html.twig' %}

{% block header_javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <script src="{{ asset('bundles/app/js/charting_library/charting_library.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/polyfills.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

{% endblock %}

{% block page_content %}

    <!-- Modal -->
    <div class="modal fade" id="askModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div id="askContent" class="modal-content">
                <div class="modal-header">
                    <button id="askClose" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class='container'>
                        <div class="tab">
                            <button class="tablinks active" onclick="openCrypto(event, 'Binance')">Binance</button>
                            <button class="tablinks" onclick="openCrypto(event, 'Bitfinex')">Bitfinex</button>
                            <button class="tablinks" onclick="openCrypto(event, 'Huobi')">Huobi</button>
                            <button class="tablinks" onclick="openCrypto(event, 'OKEx')">OKEx</button>
                            <button class="tablinks" onclick="openCrypto(event, 'Bithumb')">Bithumb</button>
                        </div>

                        <div id="Binance" class="tabcontent">

                            <h3>Binance</h3>
                            API KEY: <input id="binance_key" type="text" name="api_key" value="mP2tm3njHTJqwu1iFDkSQRYRjCPQNslBm3TmacpHauSk0QnMiWQTOX2BvsZ4V5kJ"><br>
                            SECRET KEY: <input id="binance_secret" type="text" name="secret_key" value="ea5bXX7k54AjEHO6E5n3yPbVFummcbFEXxHUkNpanfzVRavTg2z2luAET9O02orD"><br>
                            <p id="binance-content"></p>
                        </div>

                        <div id="Bitfinex" class="tabcontent">

                            <h3>Bitfinex</h3>
                            API KEY: <input id="huobi_key" type="text" name="api_key" value="aaf9e658-6b7838a3-c2cc9d41-5697b"><br>
                            SECRET KEY: <input id="huobi_secret" type="text" name="secret_key" value="bfdfd86e-a13bc751-6a3cb7df-7f36d"><br>
                            <p id="bitfinex-content"></p>
                        </div>

                        <div id="Huobi" class="tabcontent">

                            <h3>Huobi</h3>
                            API KEY: <input id="huobi_key" type="text" name="api_key" value="aaf9e658-6b7838a3-c2cc9d41-5697b"><br>
                            SECRET KEY: <input id="huobi_secret" type="text" name="secret_key" value="bfdfd86e-a13bc751-6a3cb7df-7f36d"><br>
                            <p id="huobi-content"></p>
                        </div>

                        <div id="OKEx" class="tabcontent">
                            <h3>OkEx</h3>
                            API KEY: <input id="okex_key" type="text" name="api_key" value="4e6f8c35-7984-4167-bc1a-c5bd699ffe3c"><br>
                            SECRET KEY: <input id="okex_secret" type="text" name="secret_key" value="8E0527C2160A97BD6DEFB682BB3F59AF"><br>
                            <p id='okex-content'></p>
                        </div>

                        <div id="Bithumb" class="tabcontent">
                            <h3>Bithumb</h3>
                            API KEY: <input id="bithumb_key" type="text" name="api_key" value="d8d7127426931145e17c7fa7e1721120"><br>
                            SECRET KEY: <input id="bithumb_secret" type="text" name="secret_key" value="0dd16bd0529204e69117bb231ab9c384"><br>
                            <p id="bithumb-content"></p>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="cryptoSave();" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>
    <div class="content clearfix">
        <!-- Left bar -->
        {{ render(controller('AppBundle:Leftbar:show')) }}

        <div class="clearfix"></div>

        <!-- Show the content -->
        <div class="col_middle col_middle_max">
            <div class="cm_content_top_markets">
                <ul>
                    <li class="crypto">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" id="cp"><img src="{{ asset('bundles/app/images/trino-1.png') }}" /> Crypto <img class="arr" src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" /></a>
                    </li>
                    <li><a class="market_tab" onClick="openCoin(event, 'BVB');
                            return false;">BVB Markets</a></li>
                    <li><a class="market_tab" onClick="openCoin(event, 'BTC');
                            return false;">BTC Markets</a></li>
                    <li><a class="market_tab" onClick="openCoin(event, 'ETH');
                            return false;">ETH Markets</a></li>
                    <li><a class="market_tab" onClick="openCoin(event, 'USD');
                            return false;">USDT Markets</a></li>
                </ul>
            </div>
            <div class="col_tab">
                <div class="tab_header clearfix">
                    <span id="currencyTitle"></span>
                    <div class="pull-right">
                        <a href="#" class="close_tb" role="button" data-toggle="dropdown" id="cr"><img src="{{ asset('bundles/app/images/trino-2-copy-1.png') }}" /></a>
                    </div>
                </div>
                <ul class="nav nav_cols" id="lf1" role="tablist">
                    <li class="nav-item">
                        <a class="active" id="pair-tab" data-toggle="pill" href="#pair" role="tab" aria-controls="pair" aria-selected="true">Pair</a>
                    </li>
                    <li class="nav-item">
                        <a class="" id="volume-tab" data-toggle="pill" href="#volume" role="tab" aria-controls="volume" aria-selected="false">Volume</a>
                    </li>
                    <li class="nav-item">
                        <a class="" id="change-tab" data-toggle="pill" href="#change" role="tab" aria-controls="change" aria-selected="false">Change</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active tb" id="pair" role="tabpanel" aria-labelledby="pair-tab">
                        <div class="search"> <input type="text" placeholder="Search" /></div>
                        <ul id="currency_list" class="currency_list">
                            <li class="clearfix">
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade text-center tb" id="volume" role="tabpanel" aria-labelledby="volume-tab">
                        Volume Content
                    </div>
                    <div class="tab-pane fade text-center tb" id="change" role="tabpanel" aria-labelledby="change-tab">
                        Change Content
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="cols_markets_max">
                <div class="middle_content">
                    <div class="clearfix">
                        <div class="search_b"> <input type="text" id="searchViewInput" onkeyup="searchView();" placeholder="Search" /></div>
                        <div class="grid-list">
                            <a id="listView" class="active" onclick="listView();"><i class="fa fa-list" aria-hidden="true"></i></a>
                            <a id="gridView" onclick="gridView();"><i class="fa fa-th" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div id="BVB" class="tabcontent">
                        <div class="table-responsive">
                            <table id="bvb_table" class="table_gen">
                                <tr class="listTitle">
                                    <th>Name</th>
                                    <th>Total Balance</th>
                                    <th>Change %</th>
                                    <th>Last 24h Change</th>
                                    <th>24h Low</th>
                                    <th>24h Volume</th>
                                    <th>24h High</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div id="BTC" class="tabcontent">
                        <div class="table-responsive">
                            <table id="btc_table" class="table_gen">
                                <tr class="listTitle">
                                    <th>Name</th>
                                    <th>Total Balance</th>
                                    <th>Change %</th>
                                    <th>Last 24h Change</th>
                                    <th>24h Low</th>
                                    <th>24h Volume</th>
                                    <th>24h High</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div id="ETH" class="tabcontent">
                        <div class="table-responsive">
                            <table id="eth_table" class="table_gen">
                                <tr class="listTitle">
                                    <th>Name</th>
                                    <th>Total Balance</th>
                                    <th>Change %</th>
                                    <th>Last 24h Change</th>
                                    <th>24h Low</th>
                                    <th>24h Volume</th>
                                    <th>24h High</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div id="USD" class="tabcontent">
                        <div class="table-responsive">
                            <table id="usd_table" class="table_gen">
                                <tr class="listTitle">
                                    <th>Name</th>
                                    <th>Total Balance</th>
                                    <th>Change %</th>
                                    <th>Last 24h Change</th>
                                    <th>24h Low</th>
                                    <th>24h Volume</th>
                                    <th>24h High</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tv_chart_container"></div>

        <div class="market_currency_bar">
            <div class="col_right">
                <div class="cr_info">
                    <ul class="nav nav_cols" id="rg1" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="def-tab" data-toggle="tab" href="#def" role="tab" aria-controls="def" aria-selected="true">Default</a>
                        </li>
                        <li class="nav-item">
                            <a class="" id="bids-tab" data-toggle="tab" href="#bids" role="tab" aria-controls="bids" aria-selected="false">Bids</a>
                        </li>
                        <li class="nav-item">
                            <a class="" id="asks-tab" data-toggle="tab" href="#asks" role="tab" aria-controls="asks" aria-selected="false">Asks</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="rg1Content">
                        <div class="tab-pane fade show active tb" id="def" role="tabpanel" aria-labelledby="def-tab">
                            <div class="dec">
                                8 decimals
                                <div class="pull-right dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" id="cr"><img src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" /></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="cr">
                                        <li><a href="">8 decimals</a></li>
                                        <li><a href="">7 decimals</a></li>
                                        <li><a href="">6 decimals</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="currency_bar" class="def_table">
                                    <tr>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total(BTC)</th>
                                    </tr>
                                    <tr class="tr_dw">
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tr_dw">
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tr_dw">
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tr_dw">
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tr_dw">
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tot">
                                        <td colspan="3">
                                            <div>0.00007195 <span>$0.47</span></div>
                                        </td>
                                    </tr>
                                    <tr class="tr_up">
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tr_up">
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tr_up">
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tr_up">
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr class="tr_up">
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <div class="cr_subtitle">Trade History</div>
                                <table class="def_table">
                                    <tr>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total(BTC)</th>
                                    </tr>
                                    <tr>
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_dw">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                    <tr>
                                        <td class="t_up">0.00007137</td>
                                        <td class="qty">9,2934</td>
                                        <td>0.00007137</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade text-center tb" id="bids" role="tabpanel" aria-labelledby="bids-tab">
                            Bids Content
                        </div>
                        <div class="tab-pane fade text-center tb" id="asks" role="tabpanel" aria-labelledby="asks-tab">
                            Asks Content
                        </div>
                    </div>
                </div>
            </div>

            <div class="market_bid">
                <div class="market">
                    <div class="subtitle">
                        Market
                        <div class="pull-right dropdown">
                            <a class="dropdown-toggle" onClick="market_bid_close();" role="button" data-toggle="dropdown" id="cr"><img src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" /></a>
                        </div>
                    </div>
                    <div class="cont clearfix">
                        <div id="market_bid_title" class="bit pull-left"></div>
                        <div id="market_bid_balance" class="pull-right"></div>
                    </div>
                    <div class="items clearfix">
                        Choose Exchange
                        <div class="choose_elem">
                            <div class="dropdown pull-left">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" id="cr">Aggregated <img src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" /></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="cr">
                                    <li><a href="">Aggregated</a></li>
                                    <li><a href="">Aggregated</a></li>
                                    <li><a href="">Aggregated</a></li>
                                </ul>
                            </div>
                            <img src="{{ asset('bundles/app/images/trino-10.png') }}" class="pull-right" />
                        </div>
                    </div>
                    <div class="items clearfix">
                        Choose Strategy
                        <div class="choose_elem">
                            <div class="dropdown pull-left">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" id="cr">Strategy X <img src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" /></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="cr">
                                    <li><a href="">Strategy X</a></li>
                                    <li><a href="">Strategy X</a></li>
                                    <li><a href="">Strategy X</a></li>
                                </ul>
                            </div>
                            <img src="{{ asset('bundles/app/images/trino-10.png') }}" class="pull-right" />
                        </div>
                    </div>
                    <div class="items clearfix">
                        Market Price
                        <div class="choose_elem">
                            <div class="numeric">
                                <input id="market_bid_low_price" min="0" step="any" value="0.00000000" type="number"/>
                            </div>
                        </div>
                    </div>
                    <div class="items clearfix">
                        <div class="pull-left num_val">
                            Amount
                            <div id="market_bid_total_balance" class="numeric_val"></div>
                            <div id="market_bid_high_price" class="t_up"></div>
                        </div>
                        <div class="pull-right">
                            Percent
                            <div id="market_bid_change" class="numeric_val"></div>
                        </div>
                    </div>
                    <div id="sell" class="sell">
                        SELL
                    </div>
                    <div id="buy" class="buy" onclick="buyFunc('{%for crypto in User[0].crypto%}{{crypto.publicKey}}{%endfor%}', '{%for crypto in User[0].crypto%}{{crypto.secretKey}}{% endfor%}');">
                        Buy
                    </div>
                </div>
            </div>
        </div>
        <!-- Right bar -->
        <div class="col_right">
            <div class="market_bar">
                <div class="subtitle sp">
                    Volume
                </div>
                <div class="cont clearfix">
                    <div id="market_title" class="bit pull-left"> </div>
                    <div id="market_symbol" class="bit pull-right"></div>
                    <div class="clearfix"></div>
                    <div id="market_minigraph" class="text-center">
                        <img src="{{ asset('bundles/app/images/graph_sm.jpg') }}" />
                    </div>
                    <div class="cm_cols_middle clearfix">
                        <div class="pull-left">
                            24h Volume
                            <span id="market_last_change"></span>
                        </div>
                        <div id="market_volume" class="pull-right">
                        </div>
                    </div>
                </div>
                <div class="table-responsive col_spec">
                    <div class="cr_subtitle mt_0">Trade History</div>
                    <table class="def_table">
                        <tr>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total(BTC)</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="content_down">
            <div class="content_dw">
                <ul class="nav nav_cols" role="tablist">
                    <li class="nav-item">
                        <a class="active" id="op_o" data-toggle="tab" href="#op" role="tab" aria-controls="op" aria-selected="true">Open Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="" id="or_h" data-toggle="tab" href="#or" role="tab" aria-controls="or" aria-selected="false">Order History</a>
                    </li>
                    <li class="nav-item">
                        <a class="" id="tr_h" data-toggle="tab" href="#tr" role="tab" aria-controls="tr" aria-selected="false">Trade History</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="op" role="tabpanel" aria-labelledby="op-tab">
                        <div class="table-responsive">
                            <div>
                                <label class="check">
                                    <input type="checkbox" />
                                    <span class="checkmark"></span> Hidden Other Pairs
                                </label>
                            </div>
                            <table class="table_orders">
                                <tr>
                                    <th style="width: 45px;">
                                    </th>
                                    <th>Pair</th>
                                    <th>Time</th>
                                    <th>Type</th>
                                    <th>Side</th>
                                    <th>Price</th>
                                    <th>Current Price</th>
                                    <th>Stop Loss</th>
                                    <th>Take Profit</th>
                                    <th>Amout</th>
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check pl_0">
                                            <input type="checkbox" checked="checked" />
                                            <span class="checkmark"></span> &nbsp;
                                        </label>
                                    </td>
                                    <td>BTC/USD</td>
                                    <td>Nov 10   08:12:06</td>
                                    <td>Limit</td>
                                    <td class="t_dw">Sell</td>
                                    <td>0.00123434</td>
                                    <td class="t_up">0.023920145</td>
                                    <td>0.00123434</td>
                                    <td>0.234345645</td>
                                    <td>0.29384759234 $ </td>
                                    <td>0.0932248342 BTC</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check pl_0">
                                            <input type="checkbox" />
                                            <span class="checkmark"></span> &nbsp;
                                        </label>
                                    </td>
                                    <td>BTC/USD</td>
                                    <td>Nov 10   08:12:06</td>
                                    <td>Limit</td>
                                    <td class="t_dw">Sell</td>
                                    <td>0.00123434</td>
                                    <td class="t_up">0.023920145</td>
                                    <td>0.00123434</td>
                                    <td>0.234345645</td>
                                    <td>0.29384759234 $ </td>
                                    <td>0.0932248342 BTC</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check pl_0">
                                            <input type="checkbox" />
                                            <span class="checkmark"></span> &nbsp;
                                        </label>
                                    </td>
                                    <td>BTC/USD</td>
                                    <td>Nov 10   08:12:06</td>
                                    <td>Limit</td>
                                    <td class="t_up">Buy</td>
                                    <td>0.00123434</td>
                                    <td class="t_dw">0.023920145</td>
                                    <td>0.00123434</td>
                                    <td>0.234345645</td>
                                    <td>0.29384759234 $ </td>
                                    <td>0.0932248342 BTC</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check pl_0">
                                            <input type="checkbox" />
                                            <span class="checkmark"></span> &nbsp;
                                        </label>
                                    </td>
                                    <td>BTC/USD</td>
                                    <td>Nov 10   08:12:06</td>
                                    <td>Limit</td>
                                    <td class="t_up">Buy</td>
                                    <td>0.00123434</td>
                                    <td class="t_dw">0.023920145</td>
                                    <td>0.00123434</td>
                                    <td>0.234345645</td>
                                    <td>0.29384759234 $ </td>
                                    <td>0.0932248342 BTC</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check pl_0">
                                            <input type="checkbox" />
                                            <span class="checkmark"></span> &nbsp;
                                        </label>
                                    </td>
                                    <td>BTC/USD</td>
                                    <td>Nov 10   08:12:06</td>
                                    <td>Limit</td>
                                    <td class="t_dw">Sell</td>
                                    <td>0.00123434</td>
                                    <td class="t_up">0.023920145</td>
                                    <td>0.00123434</td>
                                    <td>0.234345645</td>
                                    <td>0.29384759234 $ </td>
                                    <td>0.0932248342 BTC</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="or" role="tabpanel" aria-labelledby="or-tab">
                        Order History
                    </div>
                    <div class="tab-pane fade" id="tr" role="tabpanel" aria-labelledby="tr-tab">
                        Trade History
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script>

        function buyFunc(key, secret) {
            var timeStampInMs = window.performance && window.performance.now && window.performance.timing && window.performance.timing.navigationStart ? window.performance.now() + window.performance.timing.navigationStart : Date.now();
            var socket = io.connect("http://192.168.0.133:444");
            var quantity = document.getElementById('market_bid_low_price');
            socket.emit('trade', {
                'key': key.replace(' ', ''),
                'secret': secret.replace(' ', ''),
                'type': 'LIMIT',
                'side': 'BUY',
                'quantity': quantity.value,
                'time': 123,
                'symbol': 'ETHBTC',
                'timestamp': timeStampInMs
            });
            socket.on('binanceError', function (msg) {
                console.log(msg);
            });
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        // Market bid close
        function market_bid_close() {
            $('#tv_chart_container').css({'width': 'calc(100% - 300px)'});
            $(".market_bid").hide();

        }

        // Trading view
        function tradeView(symbols) {
            new TradingView.widget({
                fullscreen: true,
                autosize: true,
                height: 600,
                symbol: 'BINANCE:' + symbols,
                interval: '1',
                container_id: "tv_chart_container",
                //	BEWARE: no trailing slash is expected in feed URL
                datafeed: new Datafeeds.UDFCompatibleDatafeed("https://demo_feed.tradingview.com"),
                hide_top_toolbar: true,
                library_path: "bundles/app/js/charting_library/",
                locale: getParameterByName('lang') || "en",
                toolbar_bg: "rgb(15, 30, 53)",
                disabled_features: ["use_localstorage_for_settings"],
                preset: "mobile",
                overrides: {
                    "paneProperties.background": "rgb(15, 30, 53)",
                    "paneProperties.vertGridProperties.color": "#1b2d5e",
                    "paneProperties.horzGridProperties.color": "#1b2d5e",
                    "scalesProperties.textColor": "#8fb5e0"
                }
            });
        }
        ;


        // Get the elements with class="column"
        var listTitle = document.getElementsByClassName("listTitle");
        var listContent = document.getElementsByClassName("listContent");
        var idlistView = document.getElementById("listView");
        var idgridView = document.getElementById("gridView");
        var currencyList = document.getElementById("currency_list");

        // List View
        function listView() {
            idlistView.classList.add("active");
            idgridView.classList.remove("active");
            for (var i = 0; i < listTitle.length; i++) {
                listTitle[i].style.display = "contents";
            }
            for (var i = 0; i < listContent.length; i++) {
                listContent[i].style.width = "100%";
                listContent[i].removeAttribute("style");
                var td = listContent[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    td[j].removeAttribute("style");
                }
            }
        }

        // Grid View
        function gridView() {
            idgridView.classList.add("active");
            idlistView.classList.remove("active");
            for (var i = 0; i < listTitle.length; i++) {
                listTitle[i].style.display = "none";
            }
            for (var i = 0; i < listContent.length; i++) {
                listContent[i].style.float = "left";
                listContent[i].style.border = "1px solid #3052AA";
                listContent[i].style.background = "#15203E";
                listContent[i].style.borderRadius = "20px";
                listContent[i].style.padding = "10px";
                listContent[i].style.margin = "10px";
                var td = listContent[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    switch (j) {
                        case 0:
                            td[j].style.display = "block-inline";
                            break;
                        case 1:
                            td[j].style.display = "block-inline";
                            td[j].style.height = "100px";
                            td[j].style.paddingLeft = "48px";
                            break;
                        default:
                            td[j].style.display = "block";
                            break;
                    }
                }
            }
        }

        // SearchView
        function searchView() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchViewInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("eth_table") || document.getElementById("bvb_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        /* Tab manager */
        function openCoin(evt, coinName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("col_middle_max");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("active", "");
            }
            document.getElementById(coinName).style.display = "block";
            evt.currentTarget.className += "";
        }

        /* Market table */
        var priceDown = [];
        var priceUp = [];
        function addBinanceMarketSymbol(id, symbol, pos, imgSrc) {
            var tb = new Table(id);
            var currencyBar = new Table('currency_bar');

            var binance = new Binance();

            var classArr = ['listContent', 't_wh', 't_wh', 't_wh', 't_wh', 't_wh', 't_wh', 't_wh'];
            var currencyArr = ['t_wh', 't_wh', 't_wh'];

            // Currency Class
            var currencyVol = document.getElementsByClassName('currencyVolume');
            var currencyMoney = document.getElementsByClassName('currencyMoney');

            tb.add(tb.getColumns(), classArr);
            currencyBar.add(currencyBar.getColumns(), currencyArr);

            binance.onTicker(symbol, function (msg) {
                var content = ['<img id="get_symbol" src="' + imgSrc + '"></img> ' + msg['s'], '$ ' + parseFloat(msg['c']).toFixed(2), parseFloat(msg['P']).toFixed(2) + '%', msg['p'], msg['l'], msg['q'], msg['h']];

                if (parseFloat(msg['P']) < 0) {
                    priceDown = content;
                } else
                    priceUp = content;

                for (var i = 0; i < content.length; i++) {
                    switch (i) {
                        case 1:
                            currencyMoney[pos - 1].innerHTML = '$ ' + parseFloat(msg['c']).toFixed(2) + '<span class=' + (parseFloat(msg['P']) < 0 ? "t_dw" : "t_up") + '>' + parseFloat(msg['P']).toFixed(2) + '%' + '<i class="fa fa-caret-' + (parseFloat(msg['P']) < 0 ? "down" : "up") + '"></i></span>';
                            tb.edit(content[i], pos, i);
                            break;

                        case 2:
                            tb.edit(content[i], pos, i, null, parseFloat(msg['P']) < 0 ? 't_dw' : 't_up');
                            break;

                        case 3:
                            tb.edit(content[i], pos, i, null, parseFloat(msg['p']) < 0 ? 't_dw' : 't_up');
                            break;

                        case 5:
                            currencyVol[pos - 1].innerHTML = 'Vol.' + parseFloat(msg['q']).toFixed(2);
                            tb.edit(content[i], pos, i);
                            break;

                        default:
                            tb.edit(content[i], pos, i);
                            break;
                    }
                }

                priceUp = [];
                priceDown = [];
            });
        }

        var timer;
        function CryptoCoin(binanceSymbols, tableName, nameCoin) {
            // Manager Makert Table
            try {

                var imgSrc = '';
                var currencyTitle = document.getElementById('currencyTitle');
                currencyTitle.innerHTML = nameCoin;
                switch (nameCoin) {
                    case 'Ethereum':
                        imgSrc = '/bundles/app/images/trino-36.png';
                        break;

                    case 'Bitcoin':
                        imgSrc = '/bundles/app/images/trino-8.png';
                        break;
                }

                // Binance action
                for (var i = 0; i < binanceSymbols.length; i++) {
                    // Currency list
                    var li = document.createElement("li");
                    li.setAttribute("onclick", "bid_table(event, " + i + ", '" + binanceSymbols[i] + "');");
                    li.className = 'clearfix';
                    li.innerHTML = '<div class="pull-left">' + binanceSymbols[i] + '<span class="currencyVolume"></span></div> <div class="pull-right currencyMoney"></div>';
                    currencyList.appendChild(li);
                    addBinanceMarketSymbol(tableName, binanceSymbols[i], i + 1, imgSrc);
                }

                $(document).click(function () {
                    $('.col_middle_max').css({'width': '100%'});
                    $('.market_bar').hide();
                });

                $('#' + tableName + ' .listContent').click(function (event) {
                    $target = $(event.target);
                    var tb = new Table(tableName);
                    if (!$target.closest('.market_bar').length && $('.market_bar').is(":visible")) {
                        // Show in right table
                        var index = $(this).index();
                        var market_title = document.getElementById('market_title');
                        var market_symbol = document.getElementById('market_symbol');
                        var market_last_change = document.getElementById('market_last_change');
                        var market_volume = document.getElementById('market_volume');
                        clearInterval(timer);
                        timer = setInterval(function () {
                            market_title.innerHTML = '<img src="' + imgSrc + '"></img> ' + nameCoin;
                            market_last_change.innerHTML = parseFloat(tb.get(index, 5)).toFixed(2);
                            market_symbol.innerHTML = tb.get(index, 0);
                            market_volume.innerHTML = tb.get(index, 5) + ' <span id="market_change" class="' + (parseFloat(tb.get(index, 2)) < 0 ? "t_dw" : "t_up") + '">' + tb.get(index, 2) + '</span>';
                        }, 1000);
                        event.stopPropagation();
                    } else {
                        $('.col_middle_max').css({'width': 'calc(100% - 322px)'});
                        $('.market_bar').show();
                        var index = $(this).index();
                        var market_title = document.getElementById('market_title');
                        var market_symbol = document.getElementById('market_symbol');
                        var market_last_change = document.getElementById('market_last_change');
                        var market_volume = document.getElementById('market_volume');
                        clearInterval(timer);
                        timer = setInterval(function () {
                            market_title.innerHTML = '<img src="' + imgSrc + '"></img> ' + nameCoin;
                            ;
                            market_last_change.innerHTML = parseFloat(tb.get(index, 5)).toFixed(2);
                            market_symbol.innerHTML = tb.get(index, 0);
                            market_volume.innerHTML = tb.get(index, 5) + ' <span id="market_change" class="' + (parseFloat(tb.get(index, 2)) < 0 ? "t_dw" : "t_up") + '">' + tb.get(index, 2) + '</span>';
                        }, 1000);
                        event.stopPropagation();
                    }
                });

            } catch (err) {
            }
        }

        function openCrypto(evt, crypto) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(crypto).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function bid_table(event, pos, symbol) {
            $('#tv_chart_container').css({'width': 'calc(100% - 622px)'});
            $('.market_bid').show();

            tradeView(symbol);

            var tb = new Table('eth_table');
            var market_bid_title = document.getElementById('market_bid_title');
            var market_bid_balance = document.getElementById('market_bid_balance');
            var market_bid_low_price = document.getElementById('market_bid_low_price');
            var market_bid_high_price = document.getElementById('market_bid_high_price');
            var market_bid_total_balance = document.getElementById('market_bid_total_balance');
            var market_bid_change = document.getElementById('market_bid_change');

            market_bid_low_price.value = parseFloat(tb.get(pos + 1, 4));

            clearInterval(timer);
            timer = setInterval(function () {
                market_bid_title.innerHTML = tb.get(pos + 1, 0);
                market_bid_balance.innerHTML = 'Balance <span>' + parseFloat(tb.get(pos + 1, 5)).toFixed(2) + '</span>';
                market_bid_total_balance.innerHTML = tb.get(pos + 1, 1);
                market_bid_change.innerHTML = tb.get(pos + 1, 2);
                market_bid_high_price.innerHTML = "Max " + tb.get(pos + 1, 6);
            }, 1000);
            event.stopPropagation();
        }

        function cryptoMarketTable() {
            $.getScript('bundles/app/js/crypto/table.js', function () {
                $.getScript('bundles/app/js/crypto/binance/binance.js', function () {
                    $.getScript('bundles/app/js/crypto/bitfinex/bitfinex.js', function () {
                        $.getScript('bundles/app/js/crypto/huobi/huobi.js', function () {
                            $.getScript('bundles/app/js/crypto/okex/okex.js', function () {
                                $.getScript('bundles/app/js/crypto/bithumb/bithumb.js', function () {

                                    // Binance symbols
                                    var ethSymbols = ['TUSDETH', 'ETCETH', 'ADAETH', 'LTCETH', 'VETETH', 'ASTETH', 'AIONETH', 'AGIETH', 'AEETH', 'BATETH', 'BCDETH', 'ARNETH', 'AMBETH', 'ELFETH', 'EVXETH', 'DOCKETH', 'ENGETH'];
                                    CryptoCoin(ethSymbols, 'eth_table', 'Ethereum');


                                    // First init tradeview
                                    tradeView(ethSymbols[0]);
                                });

                            });
                        });
                    });
                });
            });
        }

        function cryptoSave() {
        }

        /* init function */
        $(document).ready(function () {
            if (typeof $.cookie('tokennn') === 'undefined') {
                $('#askModal').modal('show');
                $.cookie('tokennn', 7);
            }

            cryptoMarketTable();
            try {
                openCoin(null, 'ETH');
            } catch (err) {
            }


            $(".crypto a").click(function (e) {
                $('.col_tab').show('slow');
                var w = $('.cols_markets_max').outerWidth();
                var m = w - 195;
                $('.cols_markets_max').css({'padding-left': '195px'});
                $('#tv_chart_container').css({'padding-left': '250px'});
                $('#tv_chart_container').css({'width': 'calc(100% - 300px)'});
                $('.content_down').css({'display': 'block'});
                $('.market_currency_bar').css({'display': 'block'});
                $('.market_tab').css({'display': 'none'});
                $('#market_bid').css({'display': 'block'});
                $('.crypto').css({'display': 'none'});


                // Show
                $('.middle_content').css({'display': 'none'});
                $('#tv_chart_container').show();
                $('.market_bar').hide();

                var img = $(".logo a").find('img');
                img.attr("src", "bundles/app/images/trino-15-sm.png");
                $('.col_left').addClass('col_left_min');
                $(".logo a").removeClass('bg').addClass('sm');
                $('.logo').addClass('logo_sm');
                $('.header_right').addClass('hr_sm');
                $('.col_middle').removeClass('cm_sm');
            });

            $(".close_tb").click(function (e) {
                $('.col_tab').hide('slow');
                $('.cols_markets_max').css({'padding-left': ''});
                $('#tv_chart_container').css({'padding-left': ''});

                // Hide
                $('.middle_content').css({'display': 'block'});
                $('#tv_chart_container').hide();
                $('#tv_chart_container').css({'width': '100%'});
                $('.content_down').css({'display': 'none'});
                $('.market_currency_bar').css({'display': 'none'});
                $('.market_tab').css({'display': 'block'});
                $('#market_bid').css({'display': 'none'});
                $('.crypto').css({'display': 'block'});

                var img = $(".logo a").find('img');
                img.attr("src", "bundles/app/images/trino-15-sm.png");
                $('.col_left').addClass('col_left_min');
                $(".logo a").removeClass('bg').addClass('sm');
                $('.logo').addClass('logo_sm');
                $('.header_right').addClass('hr_sm');
                $('.col_middle').addClass('cm_sm');
            });

        }(jQuery));


    </script>
{% endblock %}