{% extends 'indexbase.html.twig' %}

{% block header_javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="{{ asset('bundles/app/js/charting_library/charting_library.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/polyfills.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/bundle.js') }}"></script>
{% endblock %}

{% block page_content %}

    <div class="content clearfix">
        <!-- Left bar -->
        {{ render(controller('AppBundle:Leftbar:show')) }}

        <div class="clearfix"></div>

        <!-- Show the content -->
        <div class="col_middle col_middle_max">
            <div class="cm_content_top_markets">
                <ul>
                    <li class="dropdown crypto">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" id="cp"><img src="{{ asset('bundles/app/images/trino-1.png') }}" /> Crypto <img class="arr" src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" /></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="cp">
                            <li><a href="">Crypto</a></li>
                            <li><a href="">Crypto</a></li>
                            <li><a href="">Crypto</a></li>
                        </ul>
                    </li>
                    <li class="dropdown source">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" id="su">Source <img class="arr" src="{{ asset('bundles/app/images/trino-2-copy-2.png') }}" /></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="su">
                            <li><a href="">Aggregated</a></li>
                            <li><a href="">Exchange 1</a></li>
                            <li><a href="">Exchange 2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix">
                <div class="search_b"> <input type="text" id="searchViewInput" onkeyup="searchView();" placeholder="Search" /></div>
                <div class="grid-list">
                    <a id="listView" class="active" onclick="listView();"><i class="fa fa-list" aria-hidden="true"></i></a>
                    <a id="gridView" onclick="gridView();"><i class="fa fa-th" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="funds_cont">
                <div class="table-responsive">
                    <table id="table_gen" class="table_gen">
                        <tr class="listTitle">
                            <th>Name</th>
                            <th>Status</th>
                            <th>Total Balance</th>
                            <th>Available</th>
                            <th>In Order</th>
                            <th>Value USD</th>
                        </tr>
                        <tr class="listContent">
                            <td class="t_wh"><img src="{{ asset('bundles/app/images/trino-36.png') }}" />  <b>ETH Ethereum</b></td>
                            <td class="t_dw">Blocked</td>
                            <td class="t_up">72,961.002348400</td>
                            <td class="t_wh">87,092.0009823</td>
                            <td>0.00000000</td>
                            <td>1.13456744</td>
                        </tr>
                        <tr class="listContent">
                            <td class="t_wh"><img src="{{ asset('bundles/app/images/trino-36.png') }}" />  <b>ETH Ethereum</b></td>
                            <td class="t_up">Active</td>
                            <td class="t_up">72,961.002348400</td>
                            <td class="t_wh">87,092.0009823</td>
                            <td>0.00000000</td>
                            <td>1.13456744</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <!-- Right bar -->
        <div class="col_right">
            <div class="funds_bar">
                <div class="market">
                    <div class="subtitle sp">
                        Estimated Value
                    </div>
                    <div class="cont clearfix">
                        <div class="bit pull-left"><img src="{{ asset('bundles/app/images/trino-36.png') }}" /> Ethereum </div>
                        <div class="bit pull-right">BTC/USD</div>
                        <div class="clearfix"></div>
                        <div class="text-center">
                            <img src="{{ asset('bundles/app/images/graph_sm.jpg') }}" />
                        </div>
                        <div class="cm_cols_middle clearfix">
                            <div class="pull-right text-right">
                                <span class="t_wh">1,3343.05968</span>
                                $8,092.00023
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive col_spec">
                        <ul class="nav nav_cols" id="lf2" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="at-tab" data-toggle="pill" href="#at" role="tab" aria-controls="at" aria-selected="true">All Transations</a>
                            </li>
                            <li class="nav-item">
                                <a class="" id="tt-tab" data-toggle="pill" href="#tt" role="tab" aria-controls="tt" aria-selected="false">Token Transactions</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active tb" id="at" role="tabpanel" aria-labelledby="at-tab">
                                <table class="def_table">
                                    <tr>
                                        <th>Balance</th>
                                        <th>Available</th>
                                        <th>Status</th>
                                    </tr>
                                    <tr>
                                        <td class="qty">0.00007137</td>
                                        <td class="qty">87,092.0009823</td>
                                        <td class="t_dw">Blocked</td>
                                    </tr>
                                    <tr>
                                        <td class="qty">0.00007137</td>
                                        <td class="qty">87,092.0009823</td>
                                        <td class="t_dw">Blocked</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade show tb" id="tt" role="tabpanel" aria-labelledby="tt-tab">Token Transactions</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        // Get the elements with class="column"
        var listTitle = document.getElementsByClassName("listTitle");
        var listContent = document.getElementsByClassName("listContent");
        var idlistView = document.getElementById("listView");
        var idgridView = document.getElementById("gridView");

        // List View
        function listView() {
            idlistView.classList.add("active");
            idgridView.classList.remove("active");
            listTitle[0].style.display = "contents";
            for (i = 0; i < listContent.length; i++) {
                listContent[i].style.width = "100%";
                listContent[i].removeAttribute("style");
                var td = listContent[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    switch (j) {
                        case 1:
                            if (td[j].innerHTML === '<div class="pull-right"><div class="c_up"></div></div>')
                                td[j].innerHTML = "Active";
                            else
                                td[j].innerHTML = "Blocked";

                            break;

                        default:
                            td[j].removeAttribute("style");
                    }
                }
            }
        }

        // Grid View
        function gridView() {
            idgridView.classList.add("active");
            idlistView.classList.remove("active");
            listTitle[0].style.display = "none";
            for (var i = 0; i < listContent.length; i++) {
                listContent[i].style.width = "calc(16.66% - 20px)";
                listContent[i].style.float = "left";
                listContent[i].style.border = "1px solid #3052AA";
                listContent[i].style.background = "#15203E";
                listContent[i].style.borderRadius = "20px";
                listContent[i].style.padding = "10px";
                listContent[i].style.margin = "10px";
                var td = listContent[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    switch (j) {
                        case 1:
                            if (td[j].innerHTML === 'Active')
                                td[j].innerHTML = '<div class="pull-right"><div class="c_up"></div></div>';
                            else
                                td[j].innerHTML = '<div class="pull-right"><div class="c_dw"></div></div>';
                            break;

                        default:
                            td[j].style.display = "block";
                    }
                }
            }
        }

        // SearchView
        function searchView() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchViewInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_gen");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>
{% endblock %}