{% extends 'indexbase.html.twig' %}

{% block header_javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="{{ asset('bundles/app/js/charting_library/charting_library.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/polyfills.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/datafeeds/udf/dist/bundle.js') }}"></script>
{% endblock %}

{% block page_content %}

    <div class="content clearfix">
        <!-- Left bar -->
        {{ render(controller('AppBundle:Leftbar:show')) }}

        <!-- Show the content -->
        {{ render(controller('AppBundle:Mystrategies:show')) }}

        <!-- Clearfix -->
        <div class="clearfix"></div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}